@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
  font-family: 'PT Sans', sans-serif;
  margin: 0;;
}

ul{

  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightpink;
  background-color: lightpink;
  height: 30px;
  width: 500rem;
  color: white;
}
li{
  padding-left: 25px;
  margin-left: 25px;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}
li:hover{
  background-color: white;
  margin-left: 10px;
  text-align: center;
}